# LaTeX build products
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.xdv
*~
examples/*.pdf
# quarto
examples/quarto-demo.tex
examples/*_files/
.quarto/
/talk.pdf
/talk-quarto.pdf
/talk-quarto.tex
/talk-quarto.html
/talk-quarto_files/
examples/*.html
